<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Selection</title>
  </head>
  <body>
    <h1>Select Data Type</h1>
    <form action="/select-data" method="POST">
      <label for="data_type">Select Data Type:</label>
      <select id="data_type" name="data_type">
        <option value="user_data">User Data</option>
        <option value="product_data">Product Data</option>
        <option value="cart_data">Cart Data</option></select
      ><br /><br />
      <input type="submit" value="Search" />
    </form>
  </body>
</html>
